---
import MainLayout from "@/layouts/main-layout.astro";
import {
    Card,
    CardContent,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
import { Button } from "@/components/ui/button";
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
---

<MainLayout title="Blog">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6">Posts do Blog</h1>
        <div class="flex flex-col gap-6">
            {
                allPosts.map((post) => (
                    <Card className="p-4">
                        <CardHeader>
                            <CardTitle>{post.data.title}</CardTitle>
                        </CardHeader>

                        <CardContent>
                            <p class="text-muted-foreground">
                                {post.data.excerpt}
                            </p>
                        </CardContent>
                        <CardFooter className="flex justify-between items-center">
                            <span class="text-sm text-muted-foreground">
                                {post.data.date}
                            </span>
                            <Button variant={"outline"}>
                                <a href={`/blog/posts/${post.slug}`}>
                                    Ler mais
                                </a>
                            </Button>
                        </CardFooter>
                    </Card>
                ))
            }
        </div>
    </div>
</MainLayout>
