---
import MainLayout from "@/layouts/main-layout.astro";
import { BLUR_FADE_DELAY } from "@/lib/constants";
import BlurFadeText from "@/components/ui/blur-fade-text";
import BlogPosts from "@/components/sections/posts";
---

<MainLayout title="Blog">
    <div class="container mx-auto px-4 py-8 flex flex-col gap-4">
        <BlurFadeText
            client:load
            delay={BLUR_FADE_DELAY}
            className="text-3xl font-bold mx-auto h-fit sm:text-4xl xl:text-5xl/none"
            text={"Posts"}
        />

        <BlogPosts client:only />
    </div>
</MainLayout>
