---
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout title="blog">
    <a href="/blog/posts/post-1">post-1</a>
    <a href="/blog/posts/post-2">post-2</a>
    <a href="/blog/posts/post-3">post-3</a>
</MainLayout>
