---
import { BackgroundBeams } from "@/components/ui/bg-beams";
import MainLayout from "../layouts/main-layout.astro";
import {
    HeroSection,
    AboutSection,
    WorkSection,
    EducationSection,
    SkillsSection,
} from "@/components/sections";
---

<MainLayout title="Portfolio">
    <div class="flex min-h-[100dvh] flex-col gap-10">
        <BackgroundBeams client:load />

        <HeroSection client:load />

        <AboutSection client:load />

        <WorkSection client:load />

        <EducationSection client:load />

        <SkillsSection client:load />
    </div>
</MainLayout>
